
<div class="container-fluid stay">
<div class="clr">
<br>
<br>

<section class="clr">
  <div class="jumbotron">
    <img src="../assets/blackquotes.png" alt="logo">
  </div>

  <div class="card border-dark text-center mb-3">
    <div class="card-header">
      <h3>Best Quote</h3>
    </div>
    <div class="card-body text-dark bg-transparent">
      <button class="btn btn-dark" type="button" (click)=find() >Find the best one</button>
      <div [hidden]="mostLikes <= 0" class="card-text border-success">
        <h5 class="text-center" appHighlight>{{bestQuote}}</h5>
        <p class="textcenter">by {{bestAuthor}}</p>
        <p class="text-left-muted" >With {{mostLikes}} likes</p>
      </div>
    </div>
  </div>
</section>
  <br>
</div>
<section class="bg">

  <br>
  <div class="container-fluid mt-4">

    <div class="row justify-content-center">
      <div class="card-deck">
        <div *ngFor='let quote of quotes;let i = index'>
          <div class="col-auto mb-3">

            <div class="card text-white bg-dark" style="width: 18rem;">
              <div class="card-body">
                <h2 class="card-title" id="{{id}}" >Quote</h2>

                <div class="card-text">
                  <h5 id="{{id}}" >{{quote.quote}}</h5>
                  <p class="text-right" id="{{id}}" >by <em>{{quote.author}}</em></p>
                </div>
                <div class="card-text">
                  <button type="button" class="btn btn-warning" (click)='toogleScribble(i)'>Scribble</button>

                  <app-quote-scribble *ngIf="quote.showScribble" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-scribble>
                </div>
              </div>
            </div>

          </div>
      </div>

    </div>
    <br>

  </div>
  <hr>
  </div>
</section>
<section class="clr">

  <div class="container">
    <br>
    <br>
    <div class="row">
      <app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>
    </div>
  </div>

</section>
</div>
