<div class="container">
  <h1>Quotes</h1>
  <hr>


    <div *ngFor='let quote of quotes;let i = index'>
      <h4 id="{{id}}" appHighlight>{{quote.name}}</h4>
      <p>Uploaded {{quote.completeDate|dateCount}} days ago on {{quote.completeDate|date}}</p>
      <button (click)='toogleScribble(i)'>Scribble</button>

      <app-quote-scribble *ngIf="quote.showScribble" [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-scribble>
    </div>

  <p *ngIf='quotes.length > 5'>Please delete the quotes that have not been upvoted</p>
</div>
